<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23033553719-epnok0fp0343o5d63fb95bslnhlft44i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23033553719-epnok0fp0343o5d63fb95bslnhlft44i</string>
	<key>API_KEY</key>
	<string>AIzaSyDZaZRXrNl4KzLKhtwNtlEGtmwo7FmrgGo</string>
	<key>GCM_SENDER_ID</key>
	<string>23033553719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagrams</string>
	<key>PROJECT_ID</key>
	<string>gallery-78901</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-78901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23033553719:ios:f37542c9a03fc3945bf0b2</string>
</dict>
</plist>