<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23033553719-5t2p31p3ult0mtd4040arkqr5lkous1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23033553719-5t2p31p3ult0mtd4040arkqr5lkous1l</string>
	<key>API_KEY</key>
	<string>AIzaSyDZaZRXrNl4KzLKhtwNtlEGtmwo7FmrgGo</string>
	<key>GCM_SENDER_ID</key>
	<string>23033553719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gallery</string>
	<key>PROJECT_ID</key>
	<string>gallery-78901</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-78901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23033553719:ios:b37be2f2179a42d45bf0b2</string>
</dict>
</plist>